/.ICEauthority
/.Xauthority
/.bash_history
/.cache
/.config
/.dotnet
/.gnupg
/.lesshst
/.local
/.mozilla
/.nx
/.qt
/.ssh
/.vscode-server
/.wget-hsts
/CIS1300
/CIS1300lab1
/DIY_lab3.c
/Desktop
/Documents
/Downloads
/Lab1.c
/Music
/Pictures
/Public
/Templates
/Videos
/^C
/a.out
/area of a rectangle
/assignment1.c
/assignment1.c.save
/lab2.c
/nano.1228197.save
/nano.209778.save
/nano.946032.save
/rectangle.c
/rectangle2.c
/rectangleArea
/rectangleArea.c
/sudoku.c
/test
/test1.c
/test2.c
/worksheet2.c
/worksheet2practice.c